@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;

0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F0F0F0;
  font-family: "Lato", sans-serif;
  padding-top: 80px;
  padding-left: 250px;
}

.container {
  margin: auto;
  padding: 0 15px;
}

.container.container-center {
  max-width: 1200px;
  margin-left: auto;
}

.btn {
  padding: 12px 20px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 0;
  text-align: center;
}

.btn i,
.btn svg {
  font-size: 21px;
}

.btn.disabled {
  opacity: 0.3;
  cursor: default;
}

.btn-create {
  background: #FFD55C;
  color: #484848;
}

.btn-cancel {
  background: white;
  border: 2px solid #c50b31;
  color: #c50b31;
  border-radius: 5px;
  font-weight: bold;
}

.btn-checkout {
  background: #484848;
  background: radial-gradient(circle, #484848 0%, #1c1818 100%);
  border-radius: 0;
  overflow: hidden;
  position: relative;
  color: white;
  display: flex;
  width: 140px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  padding: 12px 20px;
}

.btn-checkout i,
.btn-checkout svg {
  margin-right: 5px;
}

.table-container {
  overflow-x: auto;
}

.text-orange {
  color: #dd930a;
}

.text-green {
  color: #1ec51e;
}

.text-blue {
  color: #11a8ab;
}

.display-flex {
  display: flex;
}

.display-flex.flex-align-center {
  align-items: center;
}

.modal-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.199);
  display: none;
  z-index: 4;
}

.modal-parent.active {
  display: flex;
}

.modal-parent .modal {
  background-color: white;
  width: 900px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.modal-parent .modal.select-product-modal {
  padding: 15px;
}

.modal-parent .modal.select-product-modal .products {
  width: 100%;
  height: 100%;
  max-height: 750px;
  overflow-y: scroll;
}

.modal-parent .modal.select-product-modal .products .product {
  padding: 0 10px;
  margin: 7px 0;
  display: flex;
  align-items: center;
  background-color: #edf1f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-weight: bold;
  height: 50px;
  display: flex;
  cursor: pointer;
}

.modal-parent .modal.select-product-modal .products .product.disabled {
  opacity: 0.4;
  cursor: default;
}

.modal-parent .modal.select-product-modal .products .product .right {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.modal-parent .modal.select-product-modal .products .product .right .quantity {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.modal-parent .modal.select-product-modal .products .product .right .quantity .number {
  margin: 0 5px;
}

.modal-parent .modal.select-product-modal .products .product .right .quantity i,
.modal-parent .modal.select-product-modal .products .product .right .quantity svg {
  font-size: 24px;
  cursor: pointer;
}

.modal-parent .modal.select-product-modal .products .product .right .quantity .increment {
  color: #484848;
}

.modal-parent .modal.select-product-modal .products .product .right .quantity .decrement {
  color: #d60d0d;
}

.modal-parent .modal.select-product-modal .modal-footer {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.modal-parent .modal.select-table-modal {
  padding: 20px;
}

.modal-parent .modal.select-table-modal .tables {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
}

.modal-parent .modal.select-table-modal .tables .table {
  background-color: #FFD55C;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.modal-parent .modal.select-table-modal .tables .table:hover {
  background-color: black;
  color: #FFD55C;
  transition: 0.4s all;
}

.quantity {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.quantity .number {
  margin: 0 5px;
}

.quantity i,
.quantity svg {
  font-size: 24px;
  cursor: pointer;
}

.quantity .increment {
  color: #484848;
}

.quantity .decrement {
  color: #d60d0d;
}

.table-wrapper {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.table-wrapper .table-header {
  border-left: 1.5px solid #dee2e6;
  border-right: 1.5px solid #dee2e6;
  padding: 20px 15px;
  display: flex;
  align-items: center;
}

.table-wrapper .table-header select.filter {
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 18px;
  min-width: 200px;
}

.table-wrapper .table-header input.search {
  border-radius: 3px;
  padding: 8px 10px;
  width: 200px;
  font-size: 16px;
  border: 1px solid gray;
}

.table-wrapper .table-header .page-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #484848;
  display: inline-block;
}

.table-wrapper .table-header .btn-create {
  margin-left: auto;
  display: flex;
}

.mobile-create-btn {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-radius: 50%;
  right: 25px;
  bottom: 25px;
  background-color: #FFD55C;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.mobile-create-btn i,
.mobile-create-btn svg {
  font-size: 30px;
}

@media only screen and (max-width: 700px) {
  body {
    padding-left: 0;
  }

  .container {
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }

  .quantity {
    transform: scale(1.1);
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #484848;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}

.header {
  background: #484848;
  background: radial-gradient(circle, #484848 0%, #1c1818 100%);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Lato", sans-serif;
  z-index: 2;
}

.header .header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header .header-container .menu-btn {
  position: absolute;
  left: 20px;
  top: 22px;
  cursor: pointer;
  display: none;
}

.header .header-container .menu-btn i,
.header .header-container .menu-btn svg {
  color: white;
  font-size: 37px;
}

.header .header-container .location {
  text-transform: uppercase;
  color: #FFD55C;
  padding: 0 20px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.header .header-container .location i,
.header .header-container .location svg {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin: 0 3px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #FFD55C;
  z-index: 3;
}

.sidebar .menu-btn {
  position: absolute;
  left: 20px;
  top: 22px;
  cursor: pointer;
}

.sidebar .menu-btn i,
.sidebar .menu-btn svg {
  color: #484848;
  font-size: 37px;
}

.sidebar .logo-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .logo-container .logo {
  width: 60%;
}

.sidebar .nav-links a {
  text-decoration: none;
}

.sidebar .nav-links .nav-link {
  color: #484848;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-decoration: none;
}

.sidebar .nav-links .nav-link i,
.sidebar .nav-links .nav-link svg {
  margin-right: 5px;
}

.sidebar .nav-links .nav-link.active {
  background-color: #ecbd2e;
  border-left: 7px solid #484848;
}

@media only screen and (max-width: 700px) {
  .header .header-container {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header .header-container .menu-btn {
    display: block;
  }

  .sidebar {
    display: none;
    width: 100%;
  }

  .sidebar .logo-container {
    margin: 50px 0;
  }

  .sidebar.active {
    display: block;
  }
}

.orders .order {
  width: 100%;
  background-color: whitesmoke;
  border-left: 8px solid #FFD55C;
  padding: 5px 10px;
  height: 80px;
  margin: 10px 0;
  border-radius: 3px;
  display: flex;
}

.orders .order .table {
  font-weight: bold;
}

.orders .order .actions {
  margin-left: auto;
  margin-right: 0;
  height: 100%;
  padding: 3px;
  border-radius: 3px;
  color: #aa0c0c;
}

.orders .order .actions i,
.orders .order .actions svg {
  font-size: 20px;
}

.orders-container {
  margin-top: 20px;
}

.orders-container .table-wrapper table.orders-table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border: 1.5px solid #dee2e6;
}

.orders-container .table-wrapper table.orders-table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.orders-container .table-wrapper table.orders-table thead tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  font-size: 19px;
}

.orders-container .table-wrapper table.orders-table thead tr th {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
  border: 1.5px solid #dee2e6;
  text-align: inherit;
}

.orders-container .table-wrapper table.orders-table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.orders-container .table-wrapper table.orders-table tbody tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.orders-container .table-wrapper table.orders-table tbody tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  text-align: inherit;
  font-size: 19px;
}

.orders-container .table-wrapper table.orders-table tbody tr td.td-actions-waiter {
  width: 250px;
}

.orders-container .table-wrapper table.orders-table tbody tr td.td-actions-waiter select {
  width: 100%;
}

.orders-container .table-wrapper table.orders-table tbody tr td.td-actions-waiter .btn {
  margin-left: 5px;
  display: inline-block;
}

.orders-container .table-wrapper table.orders-table tbody tr td.td-actions-waiter .btn i,
.orders-container .table-wrapper table.orders-table tbody tr td.td-actions-waiter .btn svg {
  font-size: 17px;
}

.orders-container .table-wrapper table.orders-table tbody tr td.td-actions-bartender {
  width: 250px;
}

.orders-container .table-wrapper table.orders-table tbody tr td.td-actions-bartender select {
  width: 100%;
}

.orders-container .table-wrapper table.orders-table tbody tr td.td-actions-customer {
  width: 100px;
}

.orders-container .table-wrapper table.orders-table tbody tr td input.quantity {
  border: 0.5px solid lightgrey;
  padding: 6px;
  width: 100%;
}

.orders-container .table-wrapper table.orders-table tbody tr td .form-delete {
  display: inline-block;
}

.orders-container .table-wrapper table.orders-table tbody tr td .btn {
  font-weight: normal;
}

.orders-container .table-wrapper table.orders-table tbody tr td .btn.btn-delete {
  color: white;
  font-weight: bold;
  background-color: #c21538;
  border-radius: 4px;
  border: 0;
  font-size: 15px;
}

.orders-container .table-wrapper table.orders-table tbody tr td .btn.btn-edit {
  color: white;
  background-color: #484848;
  font-weight: bold;
  border-radius: 4px;
  border: 0;
  font-size: 15px;
}

.orders-container .table-wrapper table.orders-table tbody tr td input,
.orders-container .table-wrapper table.orders-table tbody tr td select {
  border-radius: 3px;
  padding: 8px;
  font-size: 18px;
  width: 100%;
}

.orders-container .orders-information {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  padding: 20px 0;
}

.orders-container .orders-information .info {
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 0 10px;
}

.orders-container .orders-information .info .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #FFD55C;
  border-radius: 50%;
  margin-right: 10px;
}

.orders-container .orders-information .info h4 {
  display: inline-block;
  font-size: 24px;
}

.orders-container .title {
  color: white;
  font-size: 23px;
  font-weight: bold;
  padding: 10px 0;
  text-transform: uppercase;
}

.orders-container .orders-bar {
  display: flex;
  align-items: center;
}

.orders-container .orders-bar .btn {
  margin-left: auto;
  margin-right: 0;
}

@media only screen and (max-width: 700px) {
  .orders-container {
    margin-top: 0;
  }

  .orders-container .table-wrapper {
    box-shadow: unset;
  }

  .orders-container .table-wrapper .table-header {
    display: grid;
    grid-gap: 10px;
  }

  .orders-container .table-wrapper .table-header.grid-1 {
    grid-template-columns: 100%;
  }

  .orders-container .table-wrapper .table-header.grid-2 {
    grid-template-columns: auto auto;
  }

  .orders-container .table-wrapper .table-header .page-title {
    display: none;
  }

  .orders-container .table-wrapper .table-header form {
    width: 100%;
  }

  .orders-container .table-wrapper .table-header form select {
    width: 100%;
  }

  .orders-container .table-wrapper .table-header .btn-create {
    width: 100%;
  }

  .orders-container .table-wrapper .table-container table {
    border: 0;
  }

  .orders-container .table-wrapper .table-container table thead tr th {
    text-align: center;
  }

  .orders-container .table-wrapper .table-container table thead tr td,
  .orders-container .table-wrapper .table-container table thead tr td.td-actions-waiter,
  .orders-container .table-wrapper .table-container table thead tr td.td-actions-bartender {
    width: unset;
  }

  .orders-container .orders-bar .title {
    display: none;
  }

  .orders-container .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .orders-container .btn.btn-create {
    width: 100%;
  }

  .orders-container td form {
    width: 100%;
  }

  .orders-container .table-wrapper table.orders-table tbody tr td.td-actions-waiter {
    width: unset;
    display: grid;
    grid-template-columns: auto auto;
  }
}

.cm-create-order-container .page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
  color: #484848;
  position: relative;
  margin-bottom: 40px;
  font-family: "Lobster", cursive;
  text-transform: lowercase;
}

.cm-create-order-container .page-title::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 600px;
  max-width: 100%;
  height: 1px;
  content: "";
  background-image: linear-gradient(90deg, rgba(40, 50, 75, 0.2) 0, #28324b 20%, #28324b 80%, rgba(40, 50, 75, 0.2));
  transform: translateX(-50%);
}

.cm-create-order-container .page-title::after {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 54px;
  height: 36px;
  content: "";
  background-color: #F0F0F0;
  background-image: url(/storage/images/content-line-ornament.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  transform: translateX(-50%);
}

.cm-create-order-container .sections {
  display: grid;
  grid-template-columns: 60% auto;
  grid-gap: 20px;
}

.cm-create-order-container .sections .section .orders-container {
  margin-top: 0;
}

.cm-create-order-container .sections .section.section-order-summary .summary-wrapper {
  border: 1.5px solid #dee2e6;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.cm-create-order-container .sections .section.section-order-summary h2 {
  font-weight: bold;
}

.cm-create-order-container .sections .section.section-order-summary .summary-products {
  width: 100%;
  padding: 10px 0;
}

.cm-create-order-container .sections .section.section-order-summary .summary-products .summary-product {
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 19px;
}

.cm-create-order-container .sections .section.section-order-summary .summary-products .summary-product .price {
  margin-right: 0;
  margin-left: auto;
}

.cm-create-order-container .sections .section.section-order-summary .summary-total {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0 10px 0;
  background-color: #a4d3e9;
  font-size: 19px;
}

.cm-create-order-container .sections .section.section-order-summary .summary-total .price {
  margin-left: auto;
  margin-right: 0;
}

.cm-create-order-container .sections .section .products {
  width: 100%;
  padding: 5px;
  background-color: #ececec;
}

.cm-create-order-container .sections .section .products .product {
  padding: 0 6px;
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 4px;
}

.cm-create-order-container .sections .section .products .product .product-add {
  margin-right: 0;
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cm-create-order-container .sections .section .products .product .product-add i,
.cm-create-order-container .sections .section .products .product .product-add svg {
  font-size: 23px;
  color: #484848;
}

.cm-create-order-container .sections .section .products .product:nth-child(odd) {
  background-color: rgba(255, 213, 92, 0.6);
}

@media only screen and (max-width: 1200px) {
  .cm-create-order-container .sections {
    grid-template-columns: 100%;
  }
}

form.create-order-form,
form.edit-order-form {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
}

form.create-order-form .order-header,
form.edit-order-form .order-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

form.create-order-form .order-header .page-title,
form.edit-order-form .order-header .page-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #484848;
  display: inline-block;
  padding: 6px 0px;
  border-radius: 10px;
}

form.create-order-form .order-header .btn-create,
form.edit-order-form .order-header .btn-create {
  margin-left: auto;
  display: flex;
}

form.create-order-form .form-group,
form.edit-order-form .form-group {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

form.create-order-form .form-group input,
form.create-order-form .form-group select,
form.edit-order-form .form-group input,
form.edit-order-form .form-group select {
  border-radius: 3px;
  padding: 5px;
}

form.create-order-form .order-summary h2,
form.edit-order-form .order-summary h2 {
  font-weight: bold;
  display: flex;
  align-items: center;
}

form.create-order-form .order-summary h2 i,
form.create-order-form .order-summary h2 svg,
form.edit-order-form .order-summary h2 i,
form.edit-order-form .order-summary h2 svg {
  margin-right: 5px;
  font-size: 95%;
}

form.create-order-form .order-summary .summary-products,
form.edit-order-form .order-summary .summary-products {
  width: 100%;
  padding: 10px 0;
}

form.create-order-form .order-summary .summary-products h3,
form.edit-order-form .order-summary .summary-products h3 {
  color: #484848;
}

form.create-order-form .order-summary .summary-products .summary-product,
form.edit-order-form .order-summary .summary-products .summary-product {
  padding: 0 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  background-color: #edf1f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-weight: bold;
  height: 50px;
  display: flex;
  border-left: 8px solid black;
}

form.create-order-form .order-summary .summary-products .summary-product .right,
form.edit-order-form .order-summary .summary-products .summary-product .right {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}

form.create-order-form .order-summary .summary-total,
form.edit-order-form .order-summary .summary-total {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}

form.create-order-form .order-summary .summary-total .price,
form.edit-order-form .order-summary .summary-total .price {
  font-weight: bold;
  margin-left: 10px;
}

form.create-order-form .order-summary .summary-total .right,
form.edit-order-form .order-summary .summary-total .right {
  margin-right: 0;
  margin-left: auto;
}

form.create-order-form .products-container,
form.edit-order-form .products-container {
  margin-top: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

form.create-order-form .table-container,
form.edit-order-form .table-container {
  overflow-x: auto;
}

form.create-order-form .table-container table.products-table,
form.edit-order-form .table-container table.products-table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border: 1.5px solid #dee2e6;
}

form.create-order-form .table-container table.products-table thead,
form.edit-order-form .table-container table.products-table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

form.create-order-form .table-container table.products-table thead tr,
form.edit-order-form .table-container table.products-table thead tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

form.create-order-form .table-container table.products-table thead tr th,
form.edit-order-form .table-container table.products-table thead tr th {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
  border: 1.5px solid #dee2e6;
  text-align: inherit;
}

form.create-order-form .table-container table.products-table tbody,
form.edit-order-form .table-container table.products-table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

form.create-order-form .table-container table.products-table tbody tr,
form.edit-order-form .table-container table.products-table tbody tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

form.create-order-form .table-container table.products-table tbody tr td,
form.edit-order-form .table-container table.products-table tbody tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  text-align: inherit;
}

form.create-order-form .table-container table.products-table tbody tr td input.quantity,
form.edit-order-form .table-container table.products-table tbody tr td input.quantity {
  border: 0.5px solid lightgrey;
  padding: 6px;
  width: 100%;
}

form.create-order-form .btn-create,
form.create-order-form .btn-submit,
form.edit-order-form .btn-create,
form.edit-order-form .btn-submit {
  background-color: #FFD55C;
  padding: 10px 20px;
  border: 0;
  font-size: 16px;
  font-size: 18px;
}

form.create-order-form .btn-search,
form.edit-order-form .btn-search {
  padding: 8px 10px;
  box-shadow: none;
  margin-left: 5px;
  background-color: #FFD55C;
  border-radius: 5px;
}

@media only screen and (max-width: 700px) {
  form.create-order-form,
  form.edit-order-form {
    margin-top: 0;
    box-shadow: unset;
    border: 0;
    border-radius: 0;
  }

  form.create-order-form .form-group input,
  form.create-order-form .form-group select,
  form.edit-order-form .form-group input,
  form.edit-order-form .form-group select {
    font-size: 18px;
  }

  form.create-order-form .products-container .table-header,
  form.edit-order-form .products-container .table-header {
    display: grid;
    grid-template-columns: 85% auto;
    grid-gap: 5px;
  }

  form.create-order-form .products-container .table-header input.search,
  form.create-order-form .products-container .table-header .btn-search,
  form.edit-order-form .products-container .table-header input.search,
  form.edit-order-form .products-container .table-header .btn-search {
    width: 100%;
  }

  form.create-order-form .products-container .table-header .btn-search,
  form.edit-order-form .products-container .table-header .btn-search {
    margin-left: 0;
  }

  form.create-order-form .table-container table.products-table,
  form.edit-order-form .table-container table.products-table {
    background-color: white;
  }

  form.create-order-form .table-container table.products-table tbody tr td input.quantity,
  form.edit-order-form .table-container table.products-table tbody tr td input.quantity {
    border: 1px solid lightgrey;
    padding: 6px;
    width: 100%;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    width: 40px;
  }

  form.create-order-form .form-group,
  form.edit-order-form .form-group {
    grid-template-columns: 100%;
  }

  form.create-order-form input[type=number],
  form.edit-order-form input[type=number] {
    width: 100%;
  }

  form.create-order-form .submit,
  form.edit-order-form .submit {
    width: 100%;
    border-radius: 0;
    padding: 12px 15px;
  }
}

