form.create-order-form,
form.edit-order-form {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05),
        2px 2px 5px rgba(0, 0, 0, 0.1);

    .order-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .page-title {
            text-transform: uppercase;
            font-size: 20px;
            color: $gray;
            display: inline-block;
            padding: 6px 0px;
            border-radius: 10px;
        }

        .btn-create {
            margin-left: auto;
            display: flex;
        }
    }

    .form-group {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;

        input,
        select {
            border-radius: 3px;
            padding: 5px;
        }
    }

    .order-summary {
        h2 {
            font-weight: bold;
            display: flex;
            align-items: center;
            
            i,svg {
                margin-right: 5px;
                font-size: 95%;
            }
        }

        .summary-products {
            width: 100%;
            padding: 10px 0;

            h3 {
                color: $gray;
            }

            .summary-product {
                padding: 0 10px;
                margin: 10px 0;
                display: flex;
                align-items: center;
                background-color: #edf1f5;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.05),
                    2px 2px 5px rgba(0, 0, 0, 0.1);
                border-radius: 6px;
                font-weight: bold;
                height: 50px;
                display: flex;
                border-left: 8px solid black;

                .right {
                    margin-right: 0;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .summary-total {
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 20px;


            .price {
                font-weight: bold;
                margin-left: 10px;
            }

            .right {
                margin-right: 0;
                margin-left: auto;
            }
        }
    }

    .products-container {
        margin-top: 40px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.05),
            2px 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    .table-container {
        overflow-x: auto;

        table.products-table {
            width: 100%;
            max-width: 100%;
            background-color: transparent;
            border-collapse: collapse;


            border: 1.5px solid #dee2e6;



            thead {
                display: table-header-group;
                vertical-align: middle;
                border-color: inherit;


                tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;

                    th {
                        border-color: #e9e9e9;
                        padding: 12px 15px;
                        vertical-align: middle;
                        border: 1.5px solid #dee2e6;
                        text-align: inherit;
                    }
                }
            }

            tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;

                tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;

                    td {
                        border-color: #e9e9e9;
                        padding: 12px 15px;
                        vertical-align: middle;
                        border-top: 1px solid #dee2e6;
                        text-align: inherit;

                        input.quantity {
                            border: 0.5px solid lightgrey;
                            padding: 6px;
                            width: 100%;
                        }
                    }
                }
            }
        }

    }


    .btn-create,
    .btn-submit {
        background-color: $yellow;
        padding: 10px 20px;
        border: 0;
        font-size: 16px;
        font-size: 18px;
    }

    .btn-search {
        padding: 8px 10px;
        box-shadow: none;
        margin-left: 5px;
        background-color: $yellow;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 700px) {

    form.create-order-form,
    form.edit-order-form {
        margin-top: 0;
        box-shadow: unset;
        border: 0;
        border-radius: 0;

        .form-group {

            input,
            select {
                font-size: 18px;
            }

        }

        .products-container {
            .table-header {
                display: grid;
                grid-template-columns: 85% auto;
                grid-gap: 5px;

                input.search,
                .btn-search {
                    width: 100%;
                }

                .btn-search {
                    margin-left: 0;
                }
            }
        }

        .table-container {
            table.products-table {
                background-color: white;


                tbody {
                    tr {

                        td {

                            input.quantity {
                                border: 1px solid lightgrey;
                                padding: 6px;
                                width: 100%;
                                border-radius: 3px;
                                font-size: 20px;
                                text-align: center;
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }


        .form-group {
            grid-template-columns: 100%;
        }

        input[type=number] {
            width: 100%;
        }

        .submit {
            width: 100%;
            border-radius: 0;
            padding: 12px 15px;
        }
    }
}
